header {
    font-family: 'Comic Sans MS';
    font-size: 30px;
    color: white;
    padding: 10px 32px;
    margin: 4px 2px;
    text-align: center
}

.playerScores {
    display: inline-block
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
        color: dimgrey;
}

footer {
    color: white;
    font-size: 20px;
    padding: 10px 32px;
    margin: 4px 2px;
    font-family: 'Comic Sans MS';
}

body
{
   background-color: maroon;
}

div {
    text-align: center
}

.but {
    color: black;
    text-align: center;
    font-size: 50px;
    padding: 10px 32px;
    margin: 4px 2px;
    height: 100px;
    width: 100px;
    border: 100px ;
    background-color: white;
    font-family: 'Comic Sans MS';
    vertical-align: top;
}

.winnerRow{
    color:red; 
}

#resultMsg {
    color: white;
    font-family: 'Comic Sans MS';
    font-size: 30px;
}

.resultBtns {
    font-family: 'Comic Sans MS';
    vertical-align: top;
    background-color: white;
    padding: 10px 32px;
    margin: 4px 2px;
    border-color:white; 
    color:red;
    border-radius: 20px ;
}

.resultModal  {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    vertical-align:central;   
}

/* Modal Content/Box */
.modal-content {
    background-color: brown;
    margin: 15% auto; 
    padding: 20px;
    border: 3px solid white;
    width: 80%; 
    color: white;
    border-radius: 30px ;
}

.finalResultModal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; 
    left: 400px;
    top: 200px;
    width: 100%; 
    height: 50px;
    vertical-align: central;
}

.finalResult-modal-content {
    background-color: chocolate;
    /* margin: 15% auto; 
    padding: 20px;  */
    border: 3px solid white;
    width: 40%; 
    /* height: 70px; */
    color: white;
    font-family: 'Comic Sans MS';
    font-size: 30px;
    border-radius: 30px ;
    /* white-space: pre-line; */
    position: relative;
}

#finalResultMsg{
    text-align: center;
}

/* The Close Button */
/*.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}*/

/* .finalClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
} */

/* .close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} */